.custom-file-upload-ruangan {
    height: 55px;
    width: 200px;
    gap: 20px;
    cursor: pointer;
    border: 2px dashed #e8e8e8;
    background-color: #0d3b66;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 48px 35px -48px #e8e8e8;
}

.custom-file-upload-ruangan .icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-file-upload-ruangan .icon{
    margin-top: -15px;
}

.custom-file-upload-ruangan .text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-file-upload-ruangan .text span {
    font-weight: 400;
    color: #e8e8e8;
    font-size: 12px;
}

.custom-file-upload-ruangan input {
    display: block;
    font-size: 10px;
}