.custom-file-upload-ruangan {
    height: 55px;
    width: 250px;
    gap: 20px;
    cursor: pointer;
    border: 2px dashed #e8e8e8;
    background-color: #0d3b66;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 48px 35px -48px #e8e8e8;
    display: flex;
}

.custom-file-upload-ruangan .icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-file-upload-ruangan .icon {
    /* margin-top: -15px; */
}

.custom-file-upload-ruangan .text {
    margin-top: -23px;
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row; */
}

.custom-file-upload-ruangan .text span {
    font-weight: 400;
    color: #e8e8e8;
    font-size: 12px;
}

.custom-file-upload-ruangan input {
    display: block;
    font-size: 10px;
}

.image-ruangan {
    justify-content: center;
    align-items: center;
    transition: 2s;
}

.view-button {
    display: none;
    position: absolute;
    /* top: 50%;
    left: 50%;
    transform: translate(100%, -50%); */
    /* margin-left: 33px; */
}

.image-ruangan:hover .view-button {
    display: inline-block;
}

.image-ruangan:hover img {
    filter: blur(3px);
}

.carousel {
    width: 1140px;
    height: 440px;
}

.img-ruangan {
    width: 1140px;
    height: 440px;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-ruangan img {
    width: auto;
    height: auto;
    max-height: 440px;
    max-width: 1140px;
}

.custom-file-upload-view-img-ruangan {
    height: 400px;
    width: 800px;
    gap: 20px;
    cursor: pointer;
    border: 2px dashed #e8e8e8;
    padding: 1.5rem;
    border-radius: 10px;
    display: flex;
}

.custom-file-upload-view-img-ruangan .icon i{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 200px;
    margin-left: 150px;
    margin-top: 50px;
}

.custom-file-upload-view-img-ruangan .text span {
    font-weight: 400;
    color: #e8e8e8;
    font-size: 50px;
    margin-left: 150px;
}

.custom-file-upload-view-img-ruangan input {
    display: none;
    font-size: 10px;
}

.delete-button-img-ruangan {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-70%, -50%);
    margin-left: 33px;
}

.img-ruangan:hover .delete-button-img-ruangan {
    display: block;
}

.img-ruangan:hover img {
    filter: blur(3px);
}