/* html, body {
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
} */

/* .row {
    min-width: 100vh;
    min-width: 100px;
} */

/* .mynav {
    color: #fff;
} */

.mynav li a {
    color: #0d3b66;
    text-decoration: none;
    width: 100%;
    display: block;
    border-radius: 5px;
    padding: 8px 5px;
    transition: 0.5s;
}

.mynav li a.active {
    background: #0d3b66;
    color: #fff;
}

.mynav li a:hover {
    background: #0d3b66;
    color: #fff;
}

.mynav li a i {
    width: 25px;
    text-align: center;
}

.dashboard-head {
    display: flex;
}

.card-dashboard {
    width: 300px;
    height: 140px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* text-align: center; */
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.card-dashboard h1 {
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 0px;
}

.card-dashboard h2 {
    font-size: 24px;
    color: #4caf50;
    margin-bottom: 5px;
}

.card-dashboard p {
    font-size: 14px;
    color: #777;
}

.card-dashboard i {
    font-size: 20px;
    color: #fff;
}

.icon-dashboard {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    /* margin-right: 40px; */
    /* margin: 0px 10px 0px 0px; */
    /* background-color: #4caf50; */
}

.card-officer .icon-dashboard {
    background-color: #FF569C;
}

.card-user .icon-dashboard {
    background-color: #5E5FF7;
}

.card-catalog .icon-dashboard {
    background-color: #05D2FF;
}

.card-transaction .icon-dashboard {
    background-color: #ED9210;
}

.table-resposive {
    max-width: 100%;
    overflow-x: auto;
}

.user-img {
    width: 50px;
    border-radius: 100%;
}

/* .top {
    background-color: red;
}

.user {
    background-color: green;
}

.a {
    background-color: aqua;
}

ul {
    background-color: green;
} */

/* .main-content {
    position: relative;
    background-color: #eee;
    min-height: 100vh;
    top: 0;
    left: 80px;
    transition: all 0.5s ease;
    width: calc(100% - 80px);
    padding: 1rem;
} */

/* ----  Responsiveness   ----  */
@media (max-width: 780px) {
    #card {
        width: 290px;
    }

    #edit {
        margin-bottom: 5px;
    }
}

.dropdown-custom button {
    border: none;
    color: #0d3b66;
    padding: 8px;
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    transition: 0.5s;
    display: flex;
    justify-content: space-between;
}
.dropdown-custom-child button {
    border: none;
    color: #0d3b66;
    padding: 8px;
    width: 100%;
    border-radius: 5px;
    transition: 0.5s;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}

.customtoogle i{
    margin-left: 2px;
    margin-right: 6px;
}

/* .dropdown-custom .active-custom {
    background-color: #479F76;
} */

/* .ul-active{
    background-color: red;
} */

/* .dropdown-custom .active-custom ul {
    display: block;
} */

.dropdown-custom button:hover {
    background-color: #0d3b66;
    color: #fff;
}


.dropdown-custom ul {
    display: none;
    list-style-type: none;
    padding-left: 0;
    padding-bottom: 0px;
    margin-top: 3px;
}

.dropdown-custom ul li a {
    font-size: 12px;
}



.dropdown-active-custom ul {
    display: block;
}

/* .dropdown-custom:hover ul {
    display: block;
} */

.down {
    /* background-color: #05D2FF; */
}

.user-custom {
    height: 60px;
}

.hr-custom {
    margin-bottom: 3px;
}

.logout {
    margin-left: 70px;
    margin-top: 10px;
    background-color: #12171e;
}

#bdSidebar {
    color: #0d3b66;
}
